.views-exposed-form .form-item {
  float: left;
  margin-right: .25em;
}
.views-exposed-form .form-actions {
  clear: left;
}
.webfactory-updated {
  color: green;
}
.webfactory-new {
  color: blue;
}
.webfactory-need-update {
  color: brown;
}
